.addoption{
    display: flex;
    justify-content: space-between;
    margin-bottom: $xs-size;
}

.addoption__input{
    border: none;
    font-size: $xs-size;
    flex-grow: 1;
    margin-right: $xs-size;
}

.error{
    font-size: $xs-size;
    font-style: italic;
}

@media (max-width: 45rem){
    .addoption{
        flex-direction: column;
    }
    .addoption__input{
        padding: $xs-size*0.5;
        margin: 0;
        margin-bottom: $xs-size;
    }
}